
#circle{
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#box{
    height: 300px;
    width: 99vw;
    background-color: rgb(189, 186, 186);
    position:relative;
}
@keyframes move {
    0%   {top: 0%;left: 0%;}
    50%  {top: 83%; left: 46%;}
    100% {top: 0%; left: 96%;}
  }